* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
}

.banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-size: cover;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,35,35,1) 100%);
}


.links{
    display: flex;
    justify-content: center;
    margin: auto 60px;
    padding: 40px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.links a{
    text-decoration: none;
    color: white;
}


.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: sticky;
    padding: 300px;
}

.text1{
    width: 600px;
    border-radius: 15px;
    background-color: white;
    opacity: 0.5;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 30px;
}

.aboutus{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: black;
    
}

.fondoblanco{
    border-radius: 50px;
    display: flex;
    background-color: grey;
}

.fotoauto{
    padding: 25px 0px 25px 8px;
    border-radius: 50px;
}

.text2{
    padding: 15px;
    max-width: 450px;
    color: white;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.catalogo{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 100%);    color: white;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 40px;
    padding: 80px;
}

.col img{
    max-width:  640px;
    max-height: 480px;
    border-radius: 15px;
}



.footer {
  position: relative;
  width: 100%;
  background: darkgray;
  min-height: 100px;
  padding: 200px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


/* aca va todo lo que tiene que ver con specs y fotos de los autos */


.contenedor1 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 100%);
	padding: 2rem;
}

.deslizador1 {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.accordion {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 100%);
  }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    color: white;
    background: rgb(96,95,95);
    background: linear-gradient(0deg, rgba(96,95,95,1) 0%, rgba(11,11,11,1) 100%);
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  